<?xml version="1.0" encoding="utf-8"?>
<!-- Microsoft.CodeCoverage.Console consumes the Configuration element directly. -->
<Configuration>
  <CodeCoverage>
    <ModulePaths mergeDefaults="false">
      <Include>
        <ModulePath>.*_test\.exe$</ModulePath>
      </Include>
    </ModulePaths>
    <Sources>
      <Include>
        <Source>.*\\src\\(curaii|holofile|holoflow|holoflow_event|holonp|holotask|holovibes)\\.*</Source>
      </Include>
    </Sources>
    <Functions>
      <Exclude>
        <Function>^std::.*</Function>
        <Function>^testing::.*</Function>
        <Function>^nlohmann::.*</Function>
      </Exclude>
    </Functions>
    <CollectFromChildProcesses>True</CollectFromChildProcesses>
    <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>True</EnableDynamicNativeInstrumentation>
  </CodeCoverage>
</Configuration>
